naviTeacherHome(){
    let nurl = conf.ur + "/teacher";
    window.location.href = nurl;
},
naviChangeInfo(){
    let nurl = conf.ur + "/changeinfo";
    window.location.href = nurl;
},
naviLogout(){
    logoutAction();
},
naviShowTopic(){
    let nurl = conf.ur + "/teacher/showTopic";
    window.location.href = nurl;
},
naviApplyTopic(){
    let nurl = conf.ur + "/teacher/applyTopic";
    window.location.href = nurl;
},
naviFirstRoundOverView(){
    let nurl = conf.ur + "/teacher/firstroundoverview";
    window.location.href = nurl;
},
naviSelectedStudents(){
    let nurl = conf.ur + "/teacher/selectedstudents";
    window.location.href = nurl;
},