naviAdminHome(){
    let nurl = conf.ur + "/admin";
    window.location.href = nurl;
},
naviChangeInfo(){
    let nurl = conf.ur + "/changeinfo";
    window.location.href = nurl;
},
naviLogout(){
    logoutAction();
},
naviSysOpenTimeShow(){
    let nurl = conf.ur + "/admin/timeshow";
    window.location.href = nurl;
},
naviSysOpenTimeModify(){
    let nurl = conf.ur + "/admin/timepick";
    window.location.href = nurl;
},
naviToauditTopics(){
    let nurl = conf.ur + "/admin/toaudittopics";
    window.location.href = nurl;
},
naviAuditedTopics(){
    let nurl = conf.ur + "/admin/auditedtopics";
    window.location.href = nurl;
},
naviBatchCreateUsers(){
    let nurl = conf.ur + "/admin/adminuploaduser";
    window.location.href = nurl;
},
navidownloadExampleUser(){
    let nurl = conf.ur + "/examples/users.xlsx";
    window.location.href = nurl;
},
naviCreateUser(){
    let nurl = conf.ur + "/admin/adminadduser";
    window.location.href = nurl;
},
naviManageUsers(){
    let nurl = conf.ur + "/admin/manageusers";
    window.location.href = nurl;
},
naviselectTopicResults(){
    let nurl = conf.ur + "/admin/selecttopicresults";
    window.location.href = nurl;
},
naviunChoseStudents(){
    let nurl = conf.ur + "/admin/unchosestudents";
    window.location.href = nurl;
},
naviunChoseTopics(){
    let nurl = conf.ur + "/admin/unchosetopics";
    window.location.href = nurl;
},
naviexportTopicResult(){
    let nurl = conf.ur + "/admin/exporttopicresult";
    window.location.href = nurl;
},