<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <#include "/include/header.html">
</head>
<body>
<div class="header" style="background-color: #212D3A;text-align: center;">
    <div class="container">
        <div>
            <span style="color:#ffffff;font-size:50px;font-family:微软雅黑;">计算机系选题系统</span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top:80px">
                <form class="form-horizontal modifyuser-control" role="form" name="ff">
                    <div class="form-group">
                        <div class="col-lg-12" style="text-align: center">
                            <h3>修改密码</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="oldpwd" class="col-lg-3 control-label"><span style="color: red;display: none" id="oldhint">旧密码不能与新密码相同！&nbsp;</span>旧密码</label>
                        <div class="col-lg-6">
                            <input type="password" class="form-control" id="oldpwd" name="oldpwd">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newpwd1" class="col-lg-3 control-label"><span style="color: red;display: none" id="pwdhint">两次输入不一致！&nbsp;</span>新密码</label>
                        <div class="col-lg-6">
                            <input type="password" class="form-control" id="newpwd1" name="newpwd1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newpwd2" class="col-lg-3 control-label">确认密码</label>
                        <div class="col-lg-6">
                            <input type="password" class="form-control" id="newpwd2" name="newpwd2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12" style="text-align: center">
                            <button type="button" class="btn btn-success btn-lg" onclick="changePasswordAction()">确定修改</button>
                            &emsp;&emsp;
                            <button type="button" class="btn btn-primary btn-lg" onclick="window.history.back()">返&emsp;&emsp;回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<!--Password JS-->
<script src="../js/useraction/changepassword.js" type="text/javascript" charset="utf-8"></script>
</html>