<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理员控制台</title>
    <#include "/include/vuetifyheader.html">
</head>
<body>
<div id="app">
    <v-app id="inspire">
        <#include "/include/nav-admin.html">
        <v-content>
            <v-container fluid>
                <v-layout justify-center align-center>
                    <v-flex text-xs-center>
                        <v-card>
                            <v-card-title>已选择课题的学生
                                <v-spacer></v-spacer>
                                <v-text-field v-model="search" append-icon="search" label="搜索课题名称" single-line
                                              hide-details></v-text-field>
                            </v-card-title>
                            <v-data-table :headers="headers" :items="desserts" :search="search">
                                <template slot="items" slot-scope="props">
                                    <td>{{ props.item.topicid }}</td>
                                    <td>{{ props.item.topictitle }}</td>
                                    <td>{{ props.item.teachername }}</td>
                                    <td>{{ props.item.stutruename }}</td>
                                    <td>{{ props.item.stuusername }}</td>
                                    <td>{{ props.item.createtime }}</td>
                                    <td>{{ props.item.topicdetail }}</td>
                                </template>
                                <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                    你所搜索的 "{{ search }}" 没有结果。
                                </v-alert>
                            </v-data-table>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>
<script>
    let userToken = conf.storage.getItem("userToken");
    var vue = new Vue({
        el: '#app',
        data: () => ({
            drawer: null,
            search: '',
            headers: [
                {
                    text: '课题ID',
                    align: 'center',
                    sortable: false,
                    value: 'topicid'
                },
                {
                    text: '课题名称',
                    align: 'center',
                    sortable: false,
                    value: 'topictitle'
                },
                {
                    text: '教师姓名',
                    align: 'center',
                    sortable: false,
                    value: 'teachername'
                },
                {
                    text: '学生姓名',
                    align: 'center',
                    value: 'stutruename'
                },
                {
                    text: '学生账号',
                    align: 'center',
                    value: 'stuusername'
                },
                {
                    text: '申请时间',
                    align: 'center',
                    value: 'createtime'
                },
                {
                    text: '课题内容',
                    align: 'center',
                    sortable: false,
                    value: 'topicdetail'
                }
            ],
            desserts: []
        }),
        mounted: function () {
            let that = this;
            if (userToken == null || userToken === "") {
                alert("请先登录！");
                window.location.href = conf.ur + "/login";
                return;
            }
            if (conf.storage.getItem("userPermission") != "0") {
                alert("权限不正确，请先登录！");
                window.location.href = conf.ur + "/login";
                return;
            }
            let purl0 = conf.ur + "/api/admin/selectTopicResults";
            axios({
                method: 'post',
                url: purl0,
                headers: {
                    "x-auth-token": userToken,
                    "Content-Type": "application/json"
                }
            }).then(function (response) {
                if (response.data.code == 0) {
                    let dt = response.data.data;
                    for (let i = 0; i < dt.length; i++) {
                        let tempdata = {
                            topicid: dt[i].topicid,
                            topictitle: dt[i].topictitle,
                            teachername: dt[i].teachername,
                            stutruename: dt[i].stutruename,
                            stuusername: dt[i].stuusername,
                            createtime: dt[i].createtime,
                            topicdetail: dt[i].topicdetail
                        };
                        that.desserts.push(tempdata);
                    }
                } else {
                    alert(response.data.msg);
                    window.location.href = conf.ur + "/";
                }
            }).catch(function (error) {
                if (error.response.status === 400) {
                    alert("你的请求有误！");
                    window.location.href = conf.ur + "/";
                } else if (error.response.status === 401) {
                    alert("登录态失效，请重新登录！");
                    window.location.href = conf.ur + "/login";
                } else {
                    alert("内部错误！");
                    window.location.href = conf.ur + "/";
                }
            });
        },
        props: {
            source: String
        },
        methods: {
            <#include "/include/nav-jump-admin.html" >
        }
    })
</script>
</body>
</html>